<title>Success</title>

<div class="status-container">
  <div class="status">

    <img src="/images/danielthanks.svg" class="status-image" alt="">

    <p class="status-message">Your order has been successfully placed.</p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>